body, html {
    margin: 0;
    font-family: Roboto,Helvetica Neue,Arial,sans-serif;
}
.container {
    width: 100%;
    display: block;
}
.all-button {
    color: #4285f4;
    border-bottom: 2px solid #4285f4;
    display: block;
    flex: 0 0 auto;
    font-size: 12px;
    font-weight: 600;
    line-height: 48px;
    margin-right: 8px;
    padding: 0 8px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    height: 46px;
    -webkit-box-flex: 0;
}
.header {
    display: flex;
    color: #70757a;
}
.hamburger-icon {
    padding: 12px 16px;
}
/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {
    .hamburger-icon {
        display: none;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}